// new section class
.section {
  padding: 7rem 0;

  @include respond(phone) {
    padding: 3rem 0;
  }
}

.section--page {
  padding: 3rem 0 9.1rem 0;

  @include respond(phone) {
    margin-top: 6rem;
    padding: 2rem 0 8rem 0;
  }
}

// new section class with light grey background
.section--greybg {
  background-color: var(--color-grey-light);
}

// new section header
.section-header {
  font-size: 3rem;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  margin-bottom: 3rem;
  text-transform: uppercase;

  @include respond(phone) {
    margin-bottom: 0.5rem;
    font-size: 2rem;
  }
}

// new page header
.page-header {
  font-size: 3.5rem;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  margin-bottom: 1rem;
  text-transform: uppercase;

  @include respond(phone) {
    font-size: 2.2rem;
  }
}

// section call to action link
.section-calltoaction-link {
  font-size: 1.4rem;
  padding-bottom: 0.3rem;
  border-bottom: 0.5px solid var(--color-grey-mid);
  transition: 0.1s all ease-in;
  color: var(--color-grey-dark);

  &:hover {
    border-bottom: 0.5px solid transparent;
  }
}

.calltoaction__link {
  font-size: 1.4rem;
  padding-bottom: 0.3rem;
  border-bottom: 0.5px solid var(--color-grey-mid);
  transition: 0.1s all ease-in;
  color: var(--color-grey-dark);
  display: inline-block;
  margin-top: 0.5rem;

  &:hover {
    border-bottom: 0.5px solid transparent;
  }
}

//text align classes
.t-r {
  text-align: right;
}

// display flex and justify-content-between
.d-flex-btw {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
}

// display flex and justify-content-between
.d-flex-end {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 3rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-3 {
  margin-bottom: 3rem;
}
