.header {
  height: 10vh;
  box-shadow: 0px 0.2rem 0.7rem var(--color-grey-mid);
}

.header-nav {
  height: 100%;
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-box {
  width: 20%;
}

.logo-box-text {
  font-family: "Open Sans", sans-serif;
}

.logo-box-text-l {
  font-weight: 400;
  color: var(--color-primary);
  font-size: 17px;
  font-style: italic;
}

.logo-box-text-r {
  font-weight: 700;
  color: var(--color-secondary);
  font-size: 20px;
}
