.new-review {
  &__formcont {
    margin: 0 auto 2rem auto;
  }

  &__form {
    &-cont {
      width: 50%;
      margin: auto;
      padding: 1rem;
    }

    &-comp {
      margin-bottom: 1.5rem;

      & label {
        display: block;
        font-size: 1.6rem;
        margin-bottom: 0.5rem;
        font-weight: 600;
      }

      & input,
      & select,
      & textarea {
        display: inline-block;
        margin-right: 1rem;
        width: 60%;
      }
    }
  }
}
