.home-hero {
  height: 90vh;
  width: 100%;
  background-image: url("../../../assets//images/drawkit-nature-man-colour.svg");
  background-position: 100% 42%;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.content-box {
  z-index: 2;
  width: 40%;
  position: absolute;
  top: 40%;
  left: 5%;
  color: var(--color-black);
}

.content-box-text {
  margin-bottom: 1rem;
}

.content-box-text h2 {
  font-size: 3rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  letter-spacing: 0.5px;
}

.content-box-text p {
  font-weight: 400;
  letter-spacing: 3px;
  margin-top: -0.5rem;
  font-size: 1.8rem;
}

.content-box-calltoaction input {
  width: 60%;
  padding: 1rem 2rem;
  display: block;
  border: 0.1rem solid var(--color-grey-mid);
  outline: none;
  border-radius: 1rem;
  margin-bottom: 1rem;
  font-size: 1.8rem;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  transition: 0.3s all ease-in;
}

.content-box-calltoaction input:focus {
  background-color: var(--color-grey-light);
}

.content-box-calltoaction button {
  background-color: var(--color-primary);
  font-size: 1.8rem;
  padding: 1.5rem 2rem;
  border: none;
  outline: none;
  transition: 0.3s all ease-in;
  color: var(--color-white);
  cursor: pointer;
  border-radius: 1rem;
  text-transform: capitalize;
}

.content-box-calltoaction button:hover {
  transform: translateY(-2px);
}

.content-box-calltoaction button:focus {
  transform: translateY(-1px);
}

.content-box-calltoaction button:disabled {
  cursor: not-allowed;
  opacity: 0.7;
}

.content-box-calltoaction button:disabled:hover {
  transform: none;
}
