.new-category__form-cont {
  width: 114rem;
  margin: 0 auto 2rem auto;
}

.new-category__form {
  width: 50%;
  margin: auto;
}

.form__comp {
  margin-bottom: 2rem;
}

.form__comp input,
.form__comp label {
  display: block;
}

.form__comp label {
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.form__comp input,
.form__comp select {
  width: 50%;
  padding: 1rem 2rem;
  border: 0.1rem solid var(--color-grey-mid);
  outline: none;
  border-radius: 1rem;
  margin-bottom: 1rem;
  font-size: 1.6rem;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  transition: 0.3s all ease-in;
  display: inline-block;
  margin-right: 1rem;
}
.form__comp input:focus {
  background-color: var(--color-grey-light);
}

.form__comp button {
  background-color: var(--color-primary);
  font-size: 1.6rem;
  padding: 1.5rem 2rem;
  border: none;
  outline: none;
  transition: 0.3s all ease-in;
  color: var(--color-white);
  cursor: pointer;
  border-radius: 1rem;
  text-transform: capitalize;
}
