.nav-links {
  height: 100%;
  width: 45%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links-item {
  font-size: 1.4rem;
  font-family: "Open Sans", sans-serif;
  display: inline-block;
  font-weight: 400;
  text-transform: lowercase;
  letter-spacing: 0.1rem;
}

.nav-links-link {
  transition: 0.3s all ease-in;
}
.nav-links-link:hover {
  color: var(--color-secondary);
}

.active {
  color: var(--color-secondary);
}

.nav-links-item--mod a {
  background-color: var(--color-secondary);
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  transition: 0.3s all ease-in;
  border: 0.5px solid transparent;
  color: var(--color-white);
}

.nav-links-item--mod a:hover {
  background-color: var(--color-white);
  border: 0.5px solid var(--color-secondary);
  color: var(--color-secondary);
}

.nav-links-link--avatar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-name {
  margin-right: 0.3rem;
}

.avatar {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 100%;
}
