.reviewed__card {
  height: 32rem;
  width: 26rem;
}

.reviewed__img-cont {
  height: 18rem;
  width: 26rem;
  overflow: hidden;
}

.reviewed__img-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 0.3rem;
  transition: 2s transform cubic-bezier(0.25, 0.45, 0.45, 0.95);
}

.reviewed__img-img:hover {
  transform: scale(1.1);
}

.reviewed__details {
  padding: 0.5rem 1rem;
  font-size: 1.6rem;
}

.reviewed__details-header {
  display: inline-block;
  font-size: 2rem;
  text-transform: capitalize;
  margin-bottom: 0.5rem;
  padding-bottom: 0.3rem;
  border-bottom: 0.05rem solid transparent;
  transition: 0.1s all ease-in;
}

.reviewed__details-header:hover {
  border-bottom: 0.05rem solid var(--color-grey-mid);
}

.reviewed__details-user {
  display: flex;
  align-items: center;
  margin-bottom: 0.05rem;
}
.reviewed__details-user span {
  display: inline-block;
}

.reviewed__details-user-text {
  margin-right: 0.5rem;
}

.reviewed__details-user-avatar {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 100%;
  margin-right: 0.5rem;
  cursor: pointer;
}

.reviewed__details-tagline {
  font-style: italic;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.reviewed__details-tagline::before,
.reviewed__details-tagline::after {
  content: '"';
}

.reviewed__details-date {
  margin-bottom: 0.5rem;
}

.reviewed__details-icon {
  cursor: pointer;
}
