.btn {
  padding: 1.5rem 2rem;
  border-radius: 0.7rem;
  border: none;
  outline: none;
  transition: 0.3s all ease-in;
  border: 0.5px solid transparent;
  font-size: 1.6rem;
  text-transform: lowercase;
  cursor: pointer;
  display: block;

  @include respond(phone) {
    padding: 0.5rem 1.8rem;
    border-radius: 0.5rem;
  }

  &__text {
    font-size: 1.6rem;
    display: inline-block;
    margin-right: 0.5rem;
  }

  &--form {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &--red {
    background-color: var(--color-secondary);
    color: var(--color-white);
  }

  &--gray {
    background-color: var(--color-grey-mid);
    color: var(--color-white);
  }

  &--blue {
    background-color: var(--color-primary);
    color: var(--color-white);
    width: 100%;
  }

  &--hero {
    background-color: var(--color-primary);
    color: var(--color-white);
    margin-top: 1rem;
  }

  &:not(:disabled):hover {
    opacity: 0.7;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.7;
    background-color: var(--color-grey-mid);
    color: var(--color-grey-dark);
  }

  //md - modal danger dialog
  &__md {
    padding: 1rem 2rem;
    color: var(--color-white);
    font-size: 1.4rem;

    &--r {
      background-color: var(--color-secondary);
      margin-right: 2rem;
    }

    &--b {
      background-color: var(--color-primary);
    }

    &--g {
      background-color: var(--color-success);
    }
  }
}
