.footer {
  height: 8rem;
  padding: 1rem 0;
  text-align: center;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0 -0.1px 5px var(--color-grey-mid);

  &-text-t {
    margin-bottom: 0.5rem;
  }

  & a {
    color: var(--color-black);
    text-decoration: underline;
    transition: 0.2s color ease-in-out;

    &:hover {
      color: var(--color-grey-mid);
    }
  }
}
