.image-preview {
  &__modal {
    background-color: transparent;
    left: 0;
    width: 100%;
    height: 100vh;

    &-header {
      display: none;
    }
  }

  &__cont {
    width: 100%;
    height: 100%;
  }

  &__imgcont {
    height: 40rem;
    width: 40rem;
    margin: 0 auto;
  }

  &__img {
    width: 100%;
    height: 100%;
    border-radius: 100rem;
    object-fit: cover;
  }

  &__calltoaction {
    width: 100%;
    margin-top: 1.5rem;
    text-align: right;
    display: flex;
    justify-content: center;
  }
}
