.line {
  height: 3.3rem;
  width: 23rem;
  border-radius: 0.5rem;
  animation: pulse 1s infinite ease-in-out;

  @include respond(phone) {
    width: 100%;
  }
}

.line-edit {
  height: 7rem;
  width: 100%;
  border-radius: 0.5rem;
  animation: pulse 1s infinite ease-in-out;

  // @include respond(phone) {
  //   height: 3rem;
  // }
}
.line-edit-tarea {
  height: 15rem;
  border-radius: 0.5rem;
  animation: pulse 1s infinite ease-in-out;
  width: 100%;

  // @include respond(phone) {
  //   height: 10rem;
  // }
}

.line-nav {
  width: 15rem;
  height: 3rem;
  border-radius: 0.5rem;
  animation: pulse 1s infinite ease-in-out;
}

.l-image {
  animation: pulse 1s infinite ease-in-out;
  width: 12rem;
  height: 12rem;
  border-radius: 100rem;

  @include respond(phone) {
    width: 10rem;
    height: 10rem;
  }
}

.l-number {
  width: 1.5rem;
  height: 1.5rem;
  animation: pulse 1s infinite ease-in-out;
  border-radius: 0.5rem;
  display: inline-block;
}

.l-reviews {
  padding-bottom: 2rem;
}

.l-r {
  height: 30rem;
  border: 1px solid var(--color-grey-light);

  &-image {
    height: 16rem;
    width: 100%;
    animation: pulse 1s infinite ease-in-out;

    @include respond(phone) {
      width: 60%;
      height: 100%;
    }
  }

  &-details {
    padding: 0.5rem 1rem;

    & > * {
      margin-bottom: 0.8rem;
    }

    @include respond(phone) {
      padding: 3rem 1rem;
      width: 40%;
      height: 100%;
      background-color: var(--color-white);
    }
  }

  &-name {
    width: 40%;
    height: 2rem;
    margin-left: 1rem;
    animation: pulse 1s infinite ease-in-out;

    @include respond(phone) {
      width: 100%;
      margin-left: 0;
      margin-bottom: 1rem;
    }
  }

  &-date,
  &-by,
  &-tg {
    width: 70%;
    height: 2rem;
    margin-left: 1rem;
    animation: pulse 1s infinite ease-in-out;

    @include respond(phone) {
      width: 100%;
      margin-left: 0;
      margin-bottom: 1rem;
    }
  }
}

@keyframes pulse {
  0% {
    background-color: rgba(165, 165, 165, 0.102);
  }
  50% {
    background-color: rgba(165, 165, 165, 0.302);
  }
  100% {
    background-color: rgba(165, 165, 165, 0.1);
  }
}
