.loader {
  display: inline-block;
  border: 0.15rem solid var(--color-grey-light);
  border-top: 0.15rem solid var(--color-primary);
  border-radius: 50%;
  width: 1.8rem;
  height: 1.8rem;
  animation: spin 0.5s linear infinite;
  margin: auto;

  &__small {
    height: 0.9rem;
    width: 0.9rem;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
