.loader {
  display: inline-block;
  border: 1.5px solid var(--color-grey-light);
  border-top: 1.5px solid var(--color-primary);
  border-radius: 50%;
  width: 18px;
  height: 18px;
  animation: spin 0.5s linear infinite;

  &__small {
    height: 9px;
    width: 9px;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
