.message {
  &__box {
    height: 3.5rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    transition: 1s ease-in all;
  }

  &__text {
    color: var(--color-white);
    font-size: 1.4rem;
    font-weight: 700;
    vertical-align: center;
  }

  &__icon {
    color: var(--color-white);
    position: absolute;
    top: 5px;
    right: 2px;
    font-size: 1.8rem;
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
  }
}
