.nav {
  &__list {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__item {
    font-size: 1.3rem;
    font-family: "Open Sans", sans-serif;
    display: inline-block;
    font-weight: 400;

    letter-spacing: 0.1rem;

    &:not(:last-child) {
      margin-right: 7rem;
    }

    &--mod a {
      background-color: var(--color-secondary);
      padding: 0.7rem 2rem;
      border-radius: 0.5rem;
      transition: 0.3s all ease-in;
      border: 0.5px solid transparent;
      color: var(--color-white);

      &.active {
        background-color: var(--color-white);
        border: 0.5px solid var(--color-secondary);
        color: var(--color-secondary);
      }

      &:hover {
        background-color: var(--color-white);
        border: 0.5px solid var(--color-secondary);
        color: var(--color-secondary);
      }
    }
  }

  &__link {
    transition: 0.3s all ease-in;
    color: var(--color-black);

    &:hover {
      color: var(--color-secondary);
    }

    &.active {
      color: var(--color-secondary);
    }

    &--avatar {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &-username {
        margin-right: 0.3rem;
      }

      &-avatar {
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 100%;
      }
    }
  }
}

.signout__btn {
  background-color: var(--color-secondary);
  padding: 0.7rem 2rem;
  border-radius: 0.5rem;
  transition: 0.3s all ease-in;
  border: 0.5px solid transparent;
  color: var(--color-white);
  font-size: 1.3rem;
  font-family: "Open Sans", sans-serif;
  display: inline-block;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 0.1rem;

  &:hover {
    background-color: var(--color-white);
    border: 0.5px solid var(--color-secondary);
    color: var(--color-secondary);
  }
}
