.review {
  &__card {
    height: 30rem;
    position: relative;
  }

  &__aside {
    height: 16rem;
    width: 100%;
    overflow: hidden;

    &__link {
      border: none;
      outline: none;
      display: inline-block;
      background-color: transparent;
      cursor: pointer;
    }
  }

  &__image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 0.3rem;
    transition: 0.7s transform cubic-bezier(0.25, 0.45, 0.45, 0.95);

    &:hover {
      transform: scale(1.2);
    }
  }

  &__details {
    padding: 0.5rem 1rem;
    font-size: 1.6rem;
  }
  &__header {
    display: inline-block;
    font-size: 1.9rem;
    text-transform: capitalize;
    // margin-bottom: 0.02rem;
    text-decoration: underline;
    // padding-bottom: 0.3rem;
    border-bottom: 0.05rem solid transparent;
    transition: 0.1s all ease-in;
    color: var(--color-grey-dark);

    &:hover {
      text-decoration: none;
    }
  }

  &__user {
    display: flex;
    align-items: center;
    margin-bottom: 0.02rem;

    & span {
      display: inline-block;
    }

    &--intro {
      margin-right: 0.5rem;
    }

    &--avatar {
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 100%;
      margin-right: 0.5rem;
      cursor: pointer;
    }
  }
  &__tagline {
    font-style: italic;
    font-weight: 500;
    margin-bottom: 0.02rem;

    &::before,
    &::after {
      content: '"';
    }
  }

  &__date {
    margin-bottom: 0.02rem;
  }

  &__icon {
    cursor: pointer;
  }

  &__editbox {
    height: 16rem;
    width: 100%;
    position: absolute;
    top: 0;
    background-color: var(--color-grey-light);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.8;
    transition: 0.2s all ease-in;
    transform: scale(0);
    transform-origin: middle;

    &__mod {
      transform: scale(1);
    }

    &-btn {
      background-color: transparent;
      border: none;
      outline: none;

      &:first-child {
        margin-right: 2rem;
      }

      &:not(:disabled):hover {
        opacity: 0.7;
      }
    }

    &-icon {
      cursor: pointer;
      color: var(--color-fail);
      font-size: 2.5rem;
    }
  }

  &__imagenull {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20rem;
  }
}
