.review {
  &__card {
    height: 32rem;
  }

  &__aside {
    height: 18rem;
    width: 100%;
    overflow: hidden;
  }

  &__image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 0.3rem;
    transition: 2s transform cubic-bezier(0.25, 0.45, 0.45, 0.95);

    &:hover {
      transform: scale(1.1);
    }
  }

  &__details {
    padding: 0.5rem 1rem;
    font-size: 1.6rem;
  }
  &__header {
    display: inline-block;
    font-size: 2rem;
    text-transform: capitalize;
    margin-bottom: 0.05rem;
    padding-bottom: 0.3rem;
    border-bottom: 0.05rem solid transparent;
    transition: 0.1s all ease-in;
    color: var(--color-grey-dark);

    &:hover {
      border-bottom: 0.05rem solid var(--color-grey-mid);
    }
  }

  &__user {
    display: flex;
    align-items: center;
    margin-bottom: 0.05rem;

    & span {
      display: inline-block;
    }

    &--intro {
      margin-right: 0.5rem;
    }

    &--avatar {
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 100%;
      margin-right: 0.5rem;
      cursor: pointer;
    }
  }
  &__tagline {
    font-style: italic;
    font-weight: 500;
    margin-bottom: 0.05rem;

    &::before,
    &::after {
      content: '"';
    }
  }

  &__date {
    margin-bottom: 0.05rem;
  }

  &__icon {
    cursor: pointer;
  }
}
