.grid {
  width: 114rem;
  margin: 0 auto 2rem auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
  gap: 3rem;

  &__card {
    width: 1fr;
  }
}

.grid-width {
  width: 114rem;
  margin: 0 auto;
}
